<div class="container mt-3">
  <div class="jumbotron background-white resource-box">
    <div class="resource-title">
      <i class="fas fa-bookmark"></i>
      <h2>Funeral</h2>
    </div>
    <h5>Funeral Homes Within Central Ohio</h5>
    <ul class="resource-list">
      <li><a href="https://www.schoedinger.com/resources/facts-about-funerals-and-covid-19">Schoedinger</a></li>
      <li><a href="https://www.shaw-davis.com/covid-19-information">Shaw-Davis</a></li>
      <li><a href="https://www.newcomercolumbus.com/Blog/6300">Newcomer</a></li>
    </ul>
    <h5>More information</h5>
    <ul class="resource-list">
      <li><a href="https://ofdaonline.org/aws/OFDA/pt/sp/covid-19/">Ohio Funeral Home Directors Association: COVID-19 Resources</a></li>
      <li><a href="https://www.nfda.org/covid-19">National Funeral Directors Association - COVID-19</a></li>
    </ul>
  </div>
</div>
