html,
body{
  font-family: "Sen", sans-serif;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
  color: #99FF99;
  font-weight: 500;
}

a:hover{
  text-decoration: underline;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 300;
}

p{
  color: #ffffff;
  margin: 10px;
}

hr{
  color: #FFFFFF;
  text-decoration: none;
  background-color: #FFFFFF;
  border: solid thick #FFFFFF;
}

li{
  margin: 10px;
}

.banner_text{
  font-size: 5rem;
  font-weight: 550;
  margin: 0;
}

.marquee{
  font-weight: 800;
  color: #99FF99;
}

.info_text{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 1.25rem;
  max-width: 75%;
}

@media screen and (max-width: 1025px){
  .info_text{
    max-width: 100%;
    font-size: 1rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 400px){

  .banner_text{
    font-size: 4.5rem;
    font-weight: 300;
  }

  .marquee{
    font-weight: 600;
  }
}




