html,
body{
  font-family: "Sen", sans-serif;
  overflow-x: hidden;
  max-width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
  color: #99FF99;
  font-weight: 500;
}

a:hover{
  text-decoration: underline;
  color: #ffffff;
}

i{
  padding: 5px;
  margin: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 300;
  word-break: break-word;
}

p{
  color: #ffffff;
  margin: 10px;
}

hr{
  color: #FFFFFF;
  text-decoration: none;
  background-color: #FFFFFF;
  border: solid thick #FFFFFF;
}

li{
  margin: 10px;
}

.banner_text{
  font-size: 5rem;
  font-weight: 550;
  margin: 0;
}

.marquee{
  font-weight: 800;
  color: #99FF99;
}

.info_text{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1.25rem;
  max-width: 75%;
}

.card{
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 7px 12px rgba(0,0,0,.25);
  width: 30%;
  flex-grow: 1;
  text-align: center;
  margin: 5px;
}

.card_link{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.card_link:hover{
  color:  #99FF99;
}

.last_card{
  flex-grow: 0;
}

.card_heading{
  color: green;
}

@media screen and (max-width: 1025px){
  .info_text{
    max-width: 100%;
    font-size: 1rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 400px){

  .banner_text{
    font-size: 4.5rem;
    font-weight: 300;
  }

  .marquee{
    font-weight: 600;
  }

  .card{
    width: 80%;
  }

  .card_heading{
    color: green;
  }
}




