---
---

@import "bootstrap/bootstrap";

$blue: #3366FF;
$purple: #3300FF;
$green: #99FF99;
$gray: #333333;
$white: #FFFFFF;

@function url-friendly-color($colour) {
    @return '%23' + str-slice('#{$colour}', 2, -1)
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-color:#ECF0F6;
  color: $gray;
  font-family: 'Raleway', serif;
}

.background-white {
  background-color: $white;
}

a {
  color: $blue
}

.card-deck {
  justify-content: center;
  flex-wrap: wrap;
  .card {
    min-width: 13em;
  }
}

.main-title {
  padding: 1rem;
  margin-bottom: 0;
  text-align: center;
  position: relative;

  .secondary-logo {
    max-height: 4em;
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 4rem;
  }

  .main-logo {
    max-height: 10em;
    min-width: 20em;
  }
}

.title-link {
  font-size: 3em;
  color: rgba(0, 0, 0, 0.7);
}

.resource-list {
  margin: 2rem 0;
  li {
    margin: 1rem 0;
  }
}

.resource-box {
  padding: 1rem 2rem;
}

.resource-title {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
  h2 {
    padding: 0 0 0 1rem;
  }
  i {
    font-size: 20px;
    padding-bottom: 7px;
    color: $purple;
  }
}

.icon-message {
  display: flex;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.secondary-logo {
  max-height: 4rem;
}

.icon-message-text {
  margin-left: 2rem;
}

.tagline {
  font-size: 0.8em;
}

.title-item.one {
  display: inline-block;
}

// bootstrap nav overrides

.navbar-light .navbar-nav .nav-link {
  color: $gray;
}

.navbar-light .navbar-toggler {
  color: $gray;
  border-color: $gray;
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='#{url-friendly-color($gray)}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

@media (max-width: 768px) {
  .main-title {
    .secondary-logo { display: none; }
  }
}

