---
---

@import "bootstrap/bootstrap";

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-color:#ECF0F6;
  color: #000000;
  font-family: 'Raleway', serif;
}


.background-white {
  background-color: white;
}


.card-deck {
  justify-content: center;
  flex-wrap: wrap;
  .card {
    min-width: 13em;
  }
}

.main-title {
  padding: 2rem;
  margin-bottom: 0;
  text-align: center;

  .secondary-logo {
    float: right;
    max-height: 4em;
  }

  .main-logo {
    max-height: 10em;
  }
}

.title-link {
  font-size: 3em;
  color: rgba(0, 0, 0, 0.7);
}

.resource-list {
  margin: 2rem 0;
  li {
    margin: 1rem 0;
  }
}

.resource-box {
  padding: 1rem 2rem;
}

.resource-title {
  display: flex;
  align-items: center;
  margin: 1rem 0 3rem 0;
  h2 {
    padding: 0 0 0 1rem;
  }
  i {
    font-size: 20px;
    padding-bottom: 7px
  }
}

@media (max-width: 768px) {
  .main-title {
    .secondary-logo { display: none; }
  }
}

