<div class="container mt-3">
  <div class="jumbotron background-white resource-box">
    <div class="resource-title">
      <i class="fas fa-bookmark"></i>
      <h2>Emotional Health Matters</h2>
    </div>
    <ul class="resource-list">
      <li><a href="https://coronavirustechhandbook.com/bereavement">Coronavirus Tech Handbook - Bereavement</a></li>
      <li><a href="https://hbr.org/2020/03/that-discomfort-youre-feeling-is-grief?fbclid=IwAR0fgxCcAKLtKasPmnRasJ2Uc-OUNrMHAb4a2i5vJfbVRp-sLa3Nz77Kb70">That Discomfort You're Feeling Is Grief</a></li>
      <li><a href="https://docs.google.com/document/d/1-1Kkv8cWP_Py8TIi6-Xf5XWf4EbgxKo7v_uDpheNYD4/edit">How to Host an Online Memorial for a Loved one Lost During COVID-19</a></li>
    </ul>
  </div>
</div>
