<div class="container mt-3">
  <div class="jumbotron background-white resource-box">
    <div class="resource-title">
      <i class="fas fa-bookmark"></i>
      <h2>About Us</h2>
    </div>
    <div class="icon-message">
      <img src="/assets/images/cscbus_logo_square.svg" class="secondary-logo" alt="can't stop columbus">
      <div class="icon-message-text">
        <h3><a  href="https://cantstopcolumbus.com">Can't Stop Columbus</a></h3>
        <p>A state-wide volunteer movement to create resources for the community.</p>
      </div>
    </div>
  </div>
</div>
