<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="https://kit.fontawesome.com/45c8bbada0.js" crossorigin="anonymous"></script>
    <script src="/assets/js/vendor/jquery/jquery-3.4.1-min.js"></script>
    <script src="/assets/js/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendor/bootstrap/bootstrap.min.js"></script>
  </head>
  <body>
    <section>
      {% include nav/nav.html title=page.title %}
      {{ content }}
      <div class="container mt-3">
        {% include index/footer.html %}
      </div>
    </section>
  </body>
</html>